/*  your css code here. If applicable */
nav{
	background:black;
	color:white;
	display:flex;
	align-items:center;
	padding-left:15px;
}
nav i{
	padding-right:18px;
	font-weight:100;
}
main{
	padding-top:3em;
}
#vpn{
	border:1px solid ;
	width:25px;
	height:13px;
	padding:1px;
	margin-left:10px;
	margin-right:10px;
	font-size:12px;
}
#v{
	font-size:15px;
}